body {
    text-align: center;
    padding: 10%;
}
.container {
    color: white;
    margin: auto;
    width: 60%;
    height: 40%;
    background-color: red;
    font-size: large;
}
.container form {
    font-size: 150%;
}

.container form input{
    width: 80%;
    height: 30px;
    font-size: medium;
    text-align: center;
}

.container form .button {
    background-color: rgb(184, 58, 196);
    width: 20%;
    border: 2px solid darkblue;
    /* padding: 10px; */
    border-radius: 5%;
    color: white;
    font-size: large;
}