.container{
    background-color: #fff;
    width: 100%;
    font-size: 3vw;
    padding-top: 20px;
}
button{
    cursor: pointer;
}
.welcome p{  
    width: 100%;
    font-size: 3vw;
    margin: 2vw;
    text-align: center;
    color: #132c33;
}
.welcome h2{
    font-size: 2vw;
    outline: none;
    border: none;       
    cursor: pointer;
    padding: 5px;
}
.welcome p button:hover {
    opacity: .5;
}
.userprojects{
    padding: 20px;
    padding-right: 12vw;
    text-align: right;
}
.create{
    margin: 20px; 
    padding: 10px;
    /* border: 2px solid black; */
    color: #132c33;
    border-radius: 10px;
    border: 1px solid #132c33;
    font-size: 2vw;
    cursor: pointer;
}
.create:hover{
    margin: 20px; 
    padding: 10px;
    /* border: 2px solid black; */
    color: white;
    border-radius: 10px;
    background-color: #132c33;
    font-size: 2vw;
    cursor: pointer;
}
.ext-link{
    float: right;
}

.modal {
    display: none;
    position: fixed;
    left: 25%;
    top: 20%;
    background-color: #132c33;
    width: 50%;
    border: 1px solid white;
    border-radius: 10px;
    color: #d8e3e7;
}
.modal p{
    font-size: 2vw;
    margin: 0 auto;
    width: 90%;
    padding-top: 2vw;
}
.modalclose{
    float: right;
    color: white;
    font-size: 3vw;
    margin: 8px;
    cursor: pointer;
}
.modalclose:hover {
    border: .5px solid white;
    border-radius: 10px;
}
.modalform{
    display: flex;
    flex-direction: column;
    margin: auto;
    border-radius: 20px;
    padding: 20px;
    /* opacity: .7; */
    font-size: 2vw;
}
.modalform input, .modalform input{
    color: black;
}
.modalform *, .modalform *{
    padding: 10px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: none;
    font-size: 1vw;
}
.modalform *:focus, .modalform *:focus{
    border: 2px solid white;
    color: black;
}
/* .usericondiv{
    text-align: center;
}
.usericondiv img{
    width: 30%;
} */
.submit-btn {
    width: 20%;
    outline: none;
    border: 1px solid #51c4d3;  
background: transparent;
    color: #51c4d3;
    cursor: pointer;
}
.submit-btn:hover {
    background-color: #51c4d3;
    color: #132c33;
    
}
.help{
    background-color: #132c33;
    padding: 2vw;
    color: #d8e3e7;
}
.faqsdiv{
    background-color: #fff;
    color: #132c33;
}

.help h2{
    font-size: 2.5vw;
}
.help hr{
    color: white;
    width: 50%;
    border: 2px solid white;
    margin-bottom: 20px;
}
.help span{
    font-size: 2vw;
}
.help a{
    color: white;
    cursor: pointer;
    font-size: 2vw;
}
#divtable {
    border-collapse: collapse;
    border-spacing: 0;
    width: 90%;
    margin: 0 auto;
    border: 1px solid #ddd;
    color: white;
    font-size: 2vw; 
}  

th, td {
  text-align: left;
  padding: 8px;
  border: 1px solid;
  color: #132c33;
}
th{
    background-color: #126e82;
    color: #d8e3e7;
    box-shadow: 0em 0.1em 0em rgba(0, 0, 0, 0.315);
    text-align: center;
}
td:nth-child(1){
    text-align: center;
}
td:nth-child(2){
    text-align: center;
}
tr:nth-child(even){background-color: rgba(81, 196, 211, 0.2)}
.faqsdiv{
    font-size: 2vw;
}
.support{
    padding: 2vw;
}
.support{
    font-size: 1.5vw;
}
.actionBtns{
    background: transparent;   
    border: none;
}
.fa-trash-o{color: tomato;}
.faqsdiv .openfaqsbtn{
    margin: 20px;
    padding: 10px;
    /* border: 2px solid black; */
    color: white;
    border-radius: 10px;
    font-size: 2vw;
    cursor: pointer;
    background-color: #132c33;
    color: #d8e3e7;
}
.faqsdiv .openfaqsbtn:hover{
    background-color: rgba(19, 44, 51, 0.9);
    
}
.openfaqsdiv{
    padding: 20px;
    padding-right: 12vw;
}
.faqs {
    margin-top: 4vw;
    color: #fff;
    background-color: #126e82;
    border: 1px solid white;
    padding: 2vw;
    display: none;
}
.faqs a{
    color: white;
}
.ans{
    font-size: 0.8em;
    margin-bottom: 3vw;
    color: #d8e3e7;
}
