body{
    background-color: white;
}
.all {
    display: flex;
}
#pj-name{
    padding: 20px;
    text-align: center;
    text-decoration: underline;
}
.customizesection{
    border: 2px solid cadetblue;
    padding: 0 0 20px;
    text-align: center;
    width: 60%;
    height: 500px;
    overflow-y: scroll;
}
.customizesection:nth-child(2){
    width: 40%;
}
.close{
    float: left;
}
.close,.size {
    font-size: xx-large;
    font-weight: bolder;
}
.size {
    float: right;
    margin: 0 20px;
}
/* Service Section */
/* Modal */
.serviceoptionbtn {
    margin: 20px;
    padding: 20px;
    border: 2px solid black;
    color: white;
    border-radius: 10px;
    background-color: brown;
}
.showadddevicesmodalbtn{
    margin:2px; 
    padding: 8px;
    background: transparent;
    /* border: 2px solid black; */
    color: #132c33;
    border-radius: 0.8em;
    border: 1px solid #132c33;
    font-size: 1vw;
    cursor: pointer;
}
.showadddevicesmodalbtn:hover{
    color: white;
    font-size: 1vw;

    border-radius: 10px;
    background-color: #132c33;
 
    cursor: pointer;
}
/* .modal {
    display: none;
    position: fixed;
    left: 10%;
    top: 10%;
    background-color: white;
    width: 70%;
}
span{
    float: right;
    color: black;
    font-size: larger;
    padding: 10px;
}
.modalform{
    text-align: left;
    margin: 20px auto;
    display: none;
    flex-direction: column;
}
.modalform input, textarea {
    padding: 10px;
    margin: 5px;
}
.modalform .submit {
    color: white;
    background-color: red;
    padding: 10px 10px;
} */
.btnctrl{
    padding-top: 50px;
    margin: 0 auto;
    width: 90%;
    text-align: center;
}
.btnctrl .notactive{
    margin:2px; 
    padding: 8px;
    background: transparent;
    /* border: 2px solid black; */
    color: #132c33;
    border-radius: 0.8em;
    border: 1px solid #132c33;
    font-size: 1vw;
    cursor: pointer;
}
.btnctrl .notactive:hover{
   
    color: white;
    font-size: 1vw;

    border-radius: 10px;
    background-color: #132c33;
 
    cursor: pointer;
}
.active{
    background-color: #132c33;
    margin:2px; 
    padding: 8px;
    /* border: 2px solid black; */
    color: #fff;
    border-radius: 0.8em;
    border: 1px solid #132c33;
    font-size: 1vw;
    cursor: pointer;
}
.btnctrl .active:hover{
    color: white;
    font-size: 1vw;
    border-radius: 10px;
    background-color: #132c33;
    cursor: pointer;
}
#adddatamanuallymodalshowbtn{
    margin:2px; 
    padding: 8px;
    background: transparent;
    /* border: 2px solid black; */
    color: #132c33;
    border-radius: 0.8em;
    border: 1px solid #132c33;
    font-size: 1vw;
    cursor: pointer;
}
#adddatamanuallymodalshowbtn:hover{
    color: white;
    font-size: 1vw;
    border-radius: 10px;
    background-color: #132c33;
    cursor: pointer;
}
.devicehead{
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #d8e3e7;
}
.btnadddevicediv{
    text-align: right;
    padding: 0 80px;
}
#datavaluetable{
    width: 100%;
}
.devicehead1{
    text-align: center;
}